<!doctype html>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <form method="POST" action="file_upload_anaylsis" enctype="multipart/form-data">
      <p><input type="file" name="html_file" accept=".html,.htm",".txt"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
<h1>Text Upload</h1>
    <form method="POST" action="text_upload_analysis" enctype="multipart/form-data">
         <p><input type = "text" name = "uploaded_text" value = "" maxlength = "30000" /></p>
         <p><input type="submit" value="Submit"></p>
         <br>
      </form>

  </body>
</html>
